
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include <dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zephyr,code-partition = &boot_partition;
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "bootloader";
            reg = <0x00000000 0x20000>;
        };
        app_partition: partition@20000 {
            label = "app";
            reg = <0x20000 0x20000>;
        };
    };
};
