
#include <dt-bindings/pwm/pwm.h>

/ {
    zephyr,user {
        fan-max-rpm-gpios = <MCHP_GPIO_DECODE_206 GPIO_ACTIVE_HIGH>;
        fan-12v-enable-gpios = <MCHP_GPIO_DECODE_242 GPIO_ACTIVE_HIGH>;
    };

    pwmfans {
		compatible = "pwm-leds";
		fan0: fan0 {
			pwms = <&pwm8 0 PWM_USEC(40) PWM_POLARITY_INVERTED>;
		};
		fan1: fan1 {
			pwms = <&pwm9 0 PWM_USEC(40) PWM_POLARITY_INVERTED>;
		};
	};

    soc {
        pwm9: pwm@40005890 {
			compatible = "microchip,xec-pwm";
			reg = < 0x40005890 0x20 >;
			pcrs = < 0x1 0x1f >;
			status = "disabled";
			#pwm-cells = < 0x3 >;
		};
    };
};


// Base Fan
&pwm8 {
    status = "okay";
    pinctrl-0 = < &pwm8_gpio035 >;
    pinctrl-names = "default";
};

&tach1 {
    status = "okay";
    pinctrl-0 = < &tach1_gpio051 >;
    pinctrl-names = "default";
};
// Base Fan end

// CPU Fan
&pwm9 {
    status = "okay";
    pinctrl-0 = < &pwm9_gpio133 >;
    pinctrl-names = "default";
};

&tach0 {
    status = "okay";
    pinctrl-0 = < &tach0_gpio050 >;
    pinctrl-names = "default";
};
// CPU Fan end

&pinctrl{
    /* PWM */
	/omit-if-no-ref/ pwm9_gpio133: pwm9_gpio133 {
		pinmux = < MCHP_XEC_PINMUX(0133, MCHP_AF1) >;
	};
};
