
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include <dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zephyr,code-partition = &app_partition;
    };

    adc0: adc@40001000 {
        compatible = "zephyr,adc-emul";
        reg = <0x40001000 0x1000>;
        #address-cells = <1>;
        #size-cells = <0>;
        #io-channel-cells = <1>;
        status = "";
        nchannels = <3>;

        status = "disabled";
    };

    zephyr,user {
        io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>;
    };

    dummy_i2c: dummy_i2c {
        /* 使用虛擬設備兼容字串，這會讓 Zephyr 生成一個空的設備實例 */
        compatible = "vnd,device"; 
        status = "disabled"; // 必須是 okay，DEVICE_DT_GET 才抓得到
    };

    aliases {
        led0 = &led0;
        wk-btn = &button0;

        pw-limit-i2c = &dummy_i2c;
        acpi-i2c = &dummy_i2c;
        sen-i2c = &dummy_i2c;
    };

    leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			label = "User LED";
		};
	};

	buttons {
		compatible = "gpio-users";
		button0: button_0 {
			gpios = <&gpio0 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button";
		};
	};

};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "bootloader";
            reg = <0x00000000 0x20000>;
        };
        app_partition: partition@20000 {
            label = "app";
            reg = <0x20000 0x20000>;
        };
    };
};
